/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111827;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 2rem;
}

/* BUTTON */
button {
  padding: 10px 20px;
  background: #3b82f6;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
